@font-face {
font-family: 'Atarian';
src: url('./assets/fonts/sf-atarian-system/transfonter_atarian/SFAtarianSystem.eot'),
     url('./assets/fonts/sf-atarian-system/transfonter_atarian/SFAtarianSystem.eot?#iefix') format('embedded-opentype'),
     url('./assets/fonts/sf-atarian-system/transfonter_atarian/SFAtarianSystem.woff') format('woff'),
     url('./assets/fonts/sf-atarian-system/transfonter_atarian/SFAtarianSystem.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

.game {
  display: table;
  background:  #083A08;
  width: 100%;
  font-family: "Atarian";
  text-align: center;
  color: #fff;
}

header {
  float: left;
  width: 100%;
  background-color: #480A0A;
}

.board {
  display: table;
  margin: auto;
  background: #083A08;
}

.dragon img {
  height: 100%;
}

.knight img {
  height: 100%;
}

.square {
  float: left;
  height: 70px;
  width: 70px;
  background: #185818;
  margin: 1px;
  text-align: center;
  border-radius: 10px;
}

.hitpoints {
  display: table;
  text-align: center;
  margin: auto;
}

.hitpoints h3 {
  width: 149px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin: 0;
}

#knightHP {
  display: table-cell;
  vertical-align: middle;
  height: 60px;
  width: 149px;
  background-color: #000F00;
}

#dragonHP {
  display: table-cell;
  vertical-align: middle;
  height: 60px;
  width: 149px;
  background-color: #480A0A;
}

#knightHP p, #dragonHP p {
  margin: 0px;
  padding: 0px;
}

.attacks {
  display: table;
  margin: auto;
  margin-top: 10px;
  width: 288px;
}

.attacks h3 {
  display: table-cell;
  text-align: left;
}

.attackElement {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  background: #185818;
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.flexcontainer {
   display: flex;
   width: 288px;
   flex-direction: row;
   justify-content: flex-start;
   flex-wrap: wrap;
   flex-flow: row wrap;
}
